                /////////////////////////////////////
                //LOGO
                .logo {
                    height: 3.25rem;
                    margin-left: 2rem;
                }
                
                ////////////////////////////////////////////////////
                //SEARCH
                .search {
                    flex: 0 0 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &__input {
                        font-family: inherit;
                        font-size: inherit;
                        color: inherit;
                        background-color: var(--color-grey-light-2);
                        border: none;
                        padding: .7rem 2rem;
                        border-radius: 100px;
                        width: 90%;
                        transition: 0.4s;
                        margin-right: -3rem;
                        &:focus {
                            outline: none;
                            width: 100%;
                            background-color: var(--color-grey-light-3);
                        }
                        &::-webkit-input-placeholder {
                            font-weight: 400;
                            color: var(--color-grey-light-4);
                        }
                    }
                    &__input:focus+&__button {
                        background-color: var(--color-grey-light-3);
                    }
                    &__button {
                        border: none;
                        background-color: var(--color-grey-light-2);
                        &:focus {
                            outline: none;
                        }
                    }
                    &__icon {
                        height: 2rem;
                        width: 2rem;
                        fill: var(--color-grey-dark-3);
                    }
                }
                
                ///////////////////////////////////////////
                // USER NAVIGATION
                .user-nav {
                    display: flex;
                    // align-items: flex-end;
                    align-self: stretch;
                    &>* {
                        padding: 1rem 2rem;
                        cursor: pointer;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                    &>*:hover {
                        background-color: var(--color-grey-light-2);
                    }
                    &__icon-box {
                        position: relative;
                    }
                    &__icon {
                        height: 2.25rem;
                        width: 2.25rem;
                        fill: var(--color-grey-dark-3);
                    }
                    &__notification {
                        font-size: 0.8rem;
                        height: 1.75rem;
                        width: 1.75rem;
                        border-radius: 400px;
                        background-color: var(--color-primary);
                        color: #fff;
                        position: absolute;
                        top: 1.5rem;
                        right: 1.1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &__user {}
                    &__user-photo {
                        height: 3.25rem;
                        border-radius: 50%;
                        margin-right: 1rem;
                    }
                    &__user-name {}
                }
                
                /////////////////////////////////////////////////
                //SIDE NAVIGATION
                .side-nav {
                    font-size: 1.4rem;
                    margin-top: 3.5rem;
                    &__item {
                        list-style: none;
                        position: relative;
                        &:not(:last-child) {
                            margin-bottom: 0.6rem;
                        }
                        // transition: all 1s ease-in-out;
                    }
                    &__item::after {
                        z-index: 2;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: .3rem;
                        background-color: var(--color-primary);
                        transform: scaleY(0);
                        transition: transform 0.2s ease-in-out, width 0.4s 0.2s;
                    }
                    &__item:hover {
                        // outline: 0.2rem solid var(--color-primary);
                    }
                    &__item:hover::after {
                        transform: scaleY(1);
                        width: 100%;
                    }
                    &__item--active::after {
                        transform: scaleY(1);
                        width: 100%;
                    }
                    &__item:active::after {
                        background-color: var(--color-primary-light);
                    }
                    &__link:link,
                    &__link:visited {
                        z-index: 5;
                        position: relative;
                        text-decoration: none;
                        text-transform: uppercase;
                        display: block;
                        color: var(--color-grey-light-1);
                        padding: 1.5rem 3rem;
                        display: flex;
                        // align-content: center;
                        // align-items: stretch;
                        // align-items: center;
                    }
                    &__link:hover {}
                    &__icon {
                        height: 1.75rem;
                        width: 1.75rem;
                        margin-right: 2rem;
                        fill: currentColor;
                    }
                }
                
                .legal {
                    font-size: border-box;
                    color: var(--color-grey-light-4);
                    text-align: center;
                    padding: 2rem;
                }
                
                .gallery {
                    display: flex;
                    &__photo {
                        width: 100%;
                        display: block;
                        border-radius: 3px;
                        transition: transform 0.9s 0.6s;
                        transform: scale(1.3);
                        &:hover {
                            transform: scale(1);
                            z-index: 25;
                            perspective: 1000px;
                        }
                    }
                    &__item {
                        margin-left: 3px;
                        overflow: hidden;
                    }
                }
                
                .overview {
                    display: flex;
                    align-items: center;
                    border-bottom: var(--line);
                    &__heading {
                        font-size: 2.25rem;
                        font-weight: 300;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding: 1.5rem 2rem;
                    }
                    &__stars {
                        margin-right: auto;
                        display: flex;
                    }
                    &__icon-star,
                    &__icon-location {
                        width: 1.75rem;
                        height: 1.75rem;
                        fill: var(--color-primary);
                    }
                    &__location {
                        padding: 1.5rem 3rem;
                        display: flex;
                        align-items: stretch;
                        margin-left: auto;
                    }
                    &__rating {
                        background-size: cover;
                        background-color: var(--color-primary);
                        align-self: stretch;
                        color: #fff;
                        padding: 0 2.25rem;
                        margin-left: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    &__rating-average {
                        font-size: 2.25rem;
                        font-weight: 300;
                        margin-bottom: -5px;
                    }
                    &__rating-count {
                        font-size: 0.8rem;
                        text-transform: uppercase;
                    }
                }
                
                .btn-inline {
                    border: none;
                    // padding: 1rem 0.7rem;
                    color: var(--color-primary);
                    font-size: inherit;
                    text-decoration-line: underline;
                    background-color: transparent;
                    transition: all 0.2s;
                    padding: 1px;
                    border-radius: 3px;
                    // display: inline-block;
                    &:hover {
                        color: var(--color-grey-dark-1);
                        animation: 1s pulsate infinite;
                    }
                }
                
                /////////////////////////////////////////////////
                //PRAGRAPH
                .paragraph:not(:last-of-type) {
                    margin-bottom: 2rem;
                }
                
                //////////////////////////////////////////////////////
                //LIST
                .list {
                    list-style: none;
                    margin: 3rem 0;
                    padding: 3rem 0;
                    border-top: var(--line);
                    border-bottom: var(--line);
                    display: flex;
                    // align-items: stretch;
                    justify-content: space-between;
                    // margin-right: 10rem;
                    flex-wrap: wrap;
                    &__item {
                        margin-bottom: 0.7rem;
                        flex: 0 0 50%;
                    }
                    &__item::before {
                        z-index: 30;
                        content: "";
                        display: inline-block;
                        height: 1rem;
                        width: 1rem;
                        // //older browsers
                        // background-image: url(../img/chevron-thin-right.svg);
                        // background-size: cover;
                        ///Newer brosers
                        background-color: var(--color-primary);
                        -webkit-mask-image: url(../img/chevron-thin-right.svg);
                        -webkit-mask-size: cover;
                        // margin-bottom: -1px;
                    }
                }
                
                .recommended {
                    font-size: 1.3rem;
                    color: var(--color-grey-dark-3);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &__count {
                        // margin-right: auto;
                    }
                    &__photo {
                        box-sizing: content-box;
                        height: 4rem;
                        width: 4rem;
                        border: 2px solid #ffff;
                        border-radius: 50%;
                        &:not(:last-child) {
                            margin-right: -1.1rem;
                        }
                    }
                }
                
                .review {
                    background-color: #fff;
                    box-shadow: var(--shadow-light);
                    padding: 2rem;
                    margin-bottom: 3rem;
                    &__text {
                        // margin-bottom: 1.5rem;
                    }
                    &__user {
                        display: flex;
                        margin-top: 2rem;
                        justify-content: center;
                        align-items: center;
                    }
                    &__photo {
                        height: 4.5rem;
                        width: 4.5rem;
                        border-radius: 50%;
                        margin-right: 1rem;
                    }
                    &__user-box {
                        margin-right: auto;
                    }
                    &__user-name {
                        font-size: 1.1rem;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    &__user-date {
                        font-size: 1rem;
                    }
                    &__user-rating {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        font-weight: 300;
                        color: var(--color-primary);
                        align-self: stretch;
                    }
                }